*, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/src/bg.jpeg);
    background-size: contain;
    background-repeat: repeat;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
    background-color: #fff;
}

.wrapper {
    margin: 0 20px;
}

.wrapper_mobil {
    max-width: 600px;
    min-height: 90vh;
    margin: 30px auto;
    box-shadow: 1px 5px 5px 3px rgb(173, 167, 167);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    border: 5px  solid #b85d5d;
    position: relative; 
}

.wrapper_mobil::before {
    content: '';
    opacity: 0.8;
    position: absolute;
    background-color: rgb(227, 222, 222);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 30px;
}
.heading {
    font-size: 30px;
    margin: 40px 10px;
    color: #285a60;
    text-shadow: 2px 2px 2px rgb(112, 87, 87);
    position: relative;
}

.container {
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

form {
    width: 100%;
}

.input_container {
    margin: 0 10px;
}

.input_container input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    color: #285a60;
    outline: none;
    border: 1px solid #b85d5d;
    background-color: rgba(184, 93, 93, 0.1);
    border-radius: 10px;
    caret-color:  #b85d5d;
}

input::placeholder {
    color: #767575;
}

.btn_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn {
    width: 160px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 5px rgb(207, 203, 203);
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.add {
    background-color: #4d9198;
    margin: 40px 0 20px;
}

.delete_item {
    background-color: #5aba66;
    margin: 40px 0 20px;
    width: 180px;
}

.delete_all {
    background-color: #d1484c;
    margin: 0 0 10px;
}

.add:hover, .delete_item:hover, .delete_all:hover {
    transform: scale(1.1, 1.1);
    transition: all 1s ease-in-out;
    cursor: pointer;
}

li {
    list-style-type: none;
    padding: 10px;
    margin: 0 0 3px 0;
    color: #285a60;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(184, 93, 93, 0.3);
}

.icon {
    margin: 0 10px 0 0;
}

.change_color {
    text-decoration-line: line-through ;
    -webkit-text-decoration-line: line-through;
    text-decoration-color: #d1484c;
    -webkit-text-decoration-color:#d1484c;
    text-decoration-thickness: 3px;
    -webkit-text-decoration-thickness: 3px;
    background-color: #e4d7d8;
}

@media all and (max-width: 768px) {
    .wrapper {
        margin: 20px 20px;
    }

    .wrapper_mobil {
        margin: 0 auto 0;
    }
}

@media all and (max-width: 580px) {
    .heading {
        font-size: 22px;
        margin: 30px 10px 40px;
    }

    .btn {
        font-size: 14px;
        padding: 10px;
        width: 140px;
    }

    li {
        font-size: 14px;
    }

    .delete_item {
        width: 150px;
    }


}

@media all and (max-width: 460px) {
    .wrapper {
        margin: 20px 20px 0;
    }

    .heading {
        font-size: 20px;
        text-align: center;
        margin: 20px 10px 40px;
    }
}